.App {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: center;
}

.video-container{
  height: 80vh;
  border-radius: 20px;
  background-color: #fff;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.video-container::-webkit-scrollbar{
  display: none;
}


